
#driverMapId {
    height: 400px;
}

::ng-deep.floPopup .leaflet-popup-content-wrapper {
    background: yellow;
}

::ng-deep.floPopup2 .leaflet-popup-content-wrapper {
    background: red;
}
::ng-deep.floPopup2 .leaflet-popup-tip-container .leaflet-popup-tip {
    background: red;
}

ion-card {
    text-align: center;
    width: 100%;
    border-width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 0%;
    background-color: yellow;
    color:white
}

ion-card ion-card-header ion-card-title {
    //color:white;
    font-size: 15px;
}



.styleComplete ion-card {
    background-color: green;
    color: white;
}

 .styleInProgress ion-card {
    background-color: yellow;
    color: black;
    }

.styleCanceled ion-card {
    background-color: red;
}

.styleNotStarted ion-card {
    background-color: white;
}

.filterStyle ion-item {
    --background: var(--ion-color-primary);
    color:white;
   // --highlight-height:0;
    //--border-width: 50px;
}

ion-chip {
    --background: var(--ion-color-primary);
    color:white;
}

.offlineStyle {
    color: red
}

.onlineStyle {
    color: green
}

ion-toggle {
    --background: red;
    --background-checked: green;
  
    // --handle-background: red;
    // --handle-background-checked: green;
  }