<ion-header>
  <ion-toolbar>
    <ion-title>Staff Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onClickDriversFab()">
      <ion-icon name="car-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="filterStyle">
    <ion-item lines="none">      
      <ion-icon name="funnel-outline" slot="end"></ion-icon>
      <ion-label  slot="end">By Date</ion-label>
      <ion-icon name="filter-outline" slot="end"></ion-icon>
      <ion-label  slot="end">All</ion-label>
    </ion-item>
  </div>
  <div *ngIf="orders.length > 0">
    <div  *ngFor="let order of orders;let orderIndex = index" >

  <div [ngClass]="{'styleComplete':(order.status === 'COMPLETED'), 'styleInProgress': (order.status === 'ON PROGRESS'),
     'styleNotStarted': (order.status === 'NOT STARTED'), 'styleCanceled': (order.status === 'CANCELED')}">
    <ion-card>
      
      <ion-card-header>
        <!-- <ion-card-title (click)="order.showDetails = !order.showDetails"> -->
        <ion-card-title (click)="onClickOrder(order._id)">
          
          <!-- <div *ngIf="order.delay">Received since: {{ order.delay | date:'HH:mm:ss':'+0000'}} </div> -->
          <div >Order#{{order._id}}</div>
          <div *ngIf="order.delay"> Received since {{ order.delay }}</div>
          <div>{{order.collectionMethod}}</div>
        
            <div *ngIf="!order.finished">
              <div>Current Step: {{order.currentStep.name}} ({{order.currentStepIndex + 1}}/{{order.steps.length}})</div>
               <div>Time target: ASAP</div>
          </div>
          <div *ngIf="order.finished && order.status === 'COMPLETED'">
            COMPLETED at {{order.currentStep.completedDate | date:'H:mm:ss':'+0000'}}
            <div>by {{order.currentStep.completedBy}}</div>
          </div>
          <div *ngIf="order.finished && order.status === 'CANCELED'">
            CANCELED at {{order.currentStep.canceledDate | date:'H:mm:ss':'+0000'}}
            <div>by {{order.currentStep.canceledBy}}</div>
          </div>
   
        </ion-card-title>
        <!-- <ion-card-subtitle *ngIf="order.showDetails">
          <div>Status: {{order.status}}</div>
          <div *ngIf="!order.finished">On progress</div>
          <div *ngIf="order.finished">Completed</div>
          <div>Total Price: {{ order.totalPrice }}$CA</div>
          <div>Created at: {{  order.createdAt | date:'shortTime' }}</div>

        </ion-card-subtitle> -->
      </ion-card-header>
      <!-- <ion-card-content *ngIf="order.showDetails && order.selectedItems.length > 0">
        
        
          <h2>SubTotalPrice: {{ order.subTotalPrice }}$CA</h2>
          {{order.selectedItems.length}} items:
          <div *ngFor="let item of order.selectedItems ">
            <h2>{{item.quantity}} x {{item.name}}</h2>
            <p>{{item.totalPrice}}$CA</p>
            <p>{{item.optionsText}}</p>
          </div>
  
       
      </ion-card-content> -->
    </ion-card>
    </div>
  </div>
      
</div>
</ion-content>
