<ion-header>
  <ion-toolbar>
    <ion-title>Staff Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <div class="filterStyle">
    <ion-item lines="none">
      <ion-icon name="funnel-outline" slot="end"></ion-icon>
      <ion-label slot="end">By Date</ion-label>
      <ion-icon name="filter-outline" slot="end"></ion-icon>
      <ion-label slot="end">All</ion-label>
    </ion-item>
  </div>
  <div *ngIf="orders.length > 0">
    <div *ngFor="let order of orders;let orderIndex = index">
      <app-staff-order-card
        [order]="order"
        (onClickDriversHandle)="onClickDrivers($event)"
        (onClickOrderHandle)="onClickOrder($event)"
      ></app-staff-order-card>
    </div>
  </div>
</ion-content>
