ion-card {
  text-align: center;
  width: 100%;
  border-width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  border-radius: 0%;
  background-color: yellow;
  color: white;
  cursor: pointer;
}

ion-card ion-card-header ion-card-title {
  //color:white;
  font-size: 15px;
}

ion-fab ion-fab-button {
  --background: yellow;
  --color: black;
}

.styleComplete ion-card {
  background-color: green;
  color: white;
}

.styleInProgress ion-card {
  background-color: yellow;
  color: black;
}

.styleCanceled ion-card {
  background-color: red;
}

.styleNotStarted ion-card {
  background-color: white;
}

.filterStyle ion-item {
  --background: var(--ion-color-primary);
  color: white;
  // --highlight-height:0;
  //--border-width: 50px;
}
