<ion-header>
  <ion-toolbar>
    <ion-title>Driver Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="!driver"></ion-spinner>
<div *ngIf="driver">
  <ion-item>
    <ion-label>Available</ion-label>
    <ion-toggle 
   
    [(ngModel)]="driver.active"
    (ionChange)="onToggleChange($event)"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Status</ion-label>
    <ion-button slot="end">{{driver.status}}</ion-button>
  </ion-item>
</div>
  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button (click)="drawCurrentPosition()">
      <ion-icon name="locate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div id="driverMapId"></div>
  <ion-button (click)="onRefresh()">
    refresh
  </ion-button>
</ion-content>
