<!-- <ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
    <img src="/assets/img/miramar.png">
  </ion-toolbar>
</ion-header>  -->

<ion-content #content>

  <!-- <ion-img 
  role="button"
  class="image"
  (click)="onPickImage()"
  [src]="selectedImage" 
  *ngIf="selectedImage && showPreview"></ion-img>

  <ion-button color="primary" (click)="onPickImage()">
    <ion-icon name="camera" slope="start"></ion-icon>
       <ion-label>Select image</ion-label> 
      </ion-button>
  
    <input 
  type="file"
  accept="image/jpeg"
  #filePicker 
  (change)="onFileChosen($event)" 
/> -->
<!-- <form>
  <input #myForm type="file" name="file" (change)="imageSelected($event.target.files)">
</form> -->

  <!-- <div *ngIf="restaurant" style="width: 100%; text-align: center;">
    <img src="{{restaurant.mainImageUrl}}">
  </div> -->
  <div class="collectingMethodSegment">
  <ion-segment (ionChange)="onChangeCollectingMethod($event)" value="delivery">
    <ion-segment-button value="delivery">
      <ion-label>Delivery</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pickup">
      <ion-label>Pick-up</ion-label>
    </ion-segment-button>
  </ion-segment>
</div>

<div class="delivery">
<ion-item>
  <ion-label *ngIf="userAddress === undefined">Search your Address</ion-label>
  <ion-label *ngIf="userAddress !== undefined">{{userAddress}}</ion-label>
  <ion-buttons slot="end">
  <ion-button (click)="openSearchAddressModal()">
    <ion-icon name="search"  ></ion-icon>
 </ion-button>
</ion-buttons>

</ion-item>
</div>

  <div *ngIf="menuByCategories.length > 0" class="catSlides">
  <ion-slides [options]="slideOpts" #categorySlide class="categorySlide">
    <ion-slide *ngFor="let menuCategory of menuByCategories">

<div (click)="scrollTo(menuCategory.value)">
      <ion-card>
        <img src="{{menuCategory.field1}}"/>
        <div class="card-title">{{ menuCategory.value}}</div>
        <!-- <div class="card-subtitle">41 Listings</div> -->
    </ion-card>
  </div>
      
    </ion-slide>
  </ion-slides>
</div>


  <!-- <ion-card *ngIf="restaurant">
    
    <ion-card-header>
      <img src="{{restaurant.mainImageUrl}}" alt="ion">
      <ion-card-title>{{ restaurant.name}}</ion-card-title>
      <ion-card-subtitle>{{ restaurant.address}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <h2 *ngIf="isRestaurantOpened">Restaurant is opened</h2>
      <h2 *ngIf="!isRestaurantOpened">Restaurant is closed</h2>
      <ion-button (click)="reload()">Reload</ion-button>
      <h2>Opening Hours</h2>
     <div *ngIf="restaurant.openingHours.length > 0">
      <div *ngFor="let slot of restaurant.openingHours">
        <p>{{slot.day}}</p>
        <p>{{slot.openTime}} - {{slot.closeTime}}</p>
        </div>
    </div>
    </ion-card-content>
  </ion-card> -->

  <div *ngIf="menuByCategories.length > 0">
    <div *ngFor="let menuCategory of menuByCategories">
      <div id="{{menuCategory.value}}">
    <ion-card>
      <img src="{{menuCategory.field1}}" alt="ion">
      <ion-card-header>
        <ion-card-title>{{ menuCategory.value}}</ion-card-title>
        <ion-card-subtitle>{{ menuCategory.field2}}</ion-card-subtitle>
        <ion-card-content>
          <div *ngIf="menuCategory.menuItems.length > 0">
            <div class="itemsList">
          <ion-list >
            
            <ion-item *ngFor="let menuItem of menuCategory.menuItems">
              <ion-label>{{ menuItem.name}}</ion-label>
              <ion-note slot="end" >{{ menuItem.price}}$CA</ion-note>
            
            </ion-item>
          
          </ion-list>
        </div>
        </div>
        </ion-card-content>
      </ion-card-header>

    </ion-card>
  </div>
</div>
  </div>



<!-- <div *ngIf="menuByCategories.length > 0">
  <div *ngFor="let menuCategory of menuByCategories">
    <h1>{{menuCategory.value}} ({{menuCategory.menuItems.length}})</h1>
   
      <div *ngIf="menuCategory.menuItems.length > 0">
      <ion-card *ngFor="let menuItem of menuCategory.menuItems">
        <ion-card-header>
          <ion-card-title>{{ menuItem.name}}</ion-card-title>
          <ion-card-subtitle>{{ menuItem.price}}$CA</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
    
        <div *ngIf="menuItem.toppings.length > 0">
          <h1>Options</h1>
          <div *ngFor="let topping of menuItem.toppings">
            <p>{{topping.name}}</p>
            <p>{{topping.price}</p>
          </div>
        </div>
    
        </ion-card-content>
      </ion-card>
      
    </div>
  </div>
</div> -->

</ion-content>
