<ion-header>
  <div class="topToolbar">
    <ion-toolbar>
      <ion-img slot="start" src="assets/icons/lunchmagnet_128.png"> </ion-img>
      <ion-buttons slot="start" *ngIf="labelCode === 'HOME'">
        <ion-button>
          <p *ngIf="currentSlot.isOpen">Now open</p>
          <!-- <p *ngIf="currentSlot.isOpen">Open: {{currentSlot.openHour | date:'shortTime'}} - {{currentSlot.closeHour | date:'shortTime'}} </p> -->
          <p *ngIf="!currentSlot.isOpen">Close</p>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <!-- <ion-back-button></ion-back-button>
          <ion-title>Back Button</ion-title> -->
        <ion-button (click)="presentAccountPopover($event)">
          <span *ngIf="user" class="global-pointer">
            Login as {{ user.name }}</span
          >
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <div *ngIf="driverOrders && driverOrders.length>0" class="driverToolbar">
    <div *ngFor="let driverOrder of driverOrders">
      <ion-toolbar
        slot="top"
        *ngIf="driverOrder.pendingDriver"
        (click)="onClickQuestionOrder(driverOrder._id)"
      >
        Pending Order
        <ion-icon name="car-outline" slot="start"></ion-icon>
      </ion-toolbar>
    </div>
  </div>
</ion-header>

<ion-tabs>
  <div class="cartTab global-pointer">
    <ion-toolbar
      slot="bottom"
      *ngIf="selectedMenuItems && selectedMenuItems.length > 0 && labelCode !== 'SHOPPING_CART'"
      routerLink="/tabs/shopping-cart"
    >
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon name="cart-outline"></ion-icon>
          <ion-badge *ngIf="selectedMenuItems.length > 0"
            >{{ selectedMenuItems.length }}</ion-badge
          >
        </ion-button>
      </ion-buttons>
      <ion-label>View Cart</ion-label>
      <!-- 
    <ion-icon name="cart"></ion-icon>
    <ion-label>Cart</ion-label> -->
    </ion-toolbar>
  </div>

  <ion-tab-bar slot="bottom">
    <ion-tab-button
      tab="home"
      *ngIf="user && (user.role === 'USER' || user.role === 'VISITOR' || user.role === 'STAFF' || user.role === 'ADMIN')"
    >
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
    <!-- <div  [ngClass]="{'styleRed':(userOrders.length >0), 'styleWhite': (userOrders.length === 0)}"> -->
    <ion-tab-button
      tab="orders"
      *ngIf="(user && user.role === 'USER') || (user && user.role === 'ADMIN' && user.view === 'ADMIN') || (user && user.view === 'USER')"
    >
      <ion-icon
        name="receipt"
        *ngIf="userOrders.length >0"
        color="danger"
      ></ion-icon>
      <ion-icon name="receipt" *ngIf="userOrders.length === 0"></ion-icon>
      <ion-label>My Orders</ion-label>
    </ion-tab-button>
    <!-- </div> -->
    <ion-tab-button
      tab="staff-orders"
      *ngIf="(user && user.role === 'STAFF') || (user && user.role === 'ADMIN'  && user.view === 'ADMIN') || (user && user.view === 'STAFF')"
    >
      <ion-icon name="people-outline"></ion-icon>
      <ion-badge *ngIf="staffOrders.length > 0" color="danger"
        >{{ staffOrders.length }}</ion-badge
      >
      <ion-label>Staff Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="staff-drivers"
      *ngIf="(user && user.role === 'STAFF') || (user && user.role === 'ADMIN'  && user.view === 'ADMIN') || (user && user.view === 'STAFF')"
    >
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Drivers</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="driver-dashboard"
      *ngIf="(user && user.role === 'DRIVER') || (user && user.role === 'ADMIN' && user.view === 'ADMIN') || (user && user.view === 'DRIVER')"
    >
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="driver-orders"
      *ngIf="(user && user.role === 'DRIVER') || (user && user.role === 'ADMIN' && user.view === 'ADMIN') || (user && user.view === 'DRIVER')"
    >
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label *ngIf="user.role === 'ADMIN'">Driver Orders</ion-label>
      <ion-label *ngIf="user.role !== 'ADMIN'">My Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="admin-dashboard" *ngIf="user && user.role === 'ADMIN'">
      <ion-icon name="key-outline"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
