// ion-tabs ion-tab-bar  ion-tab-button {
//     --ripple-color: black;
//     --color: red;
//     --background-focused: blue;
//     --padding-start: 10px;
//     --padding-bottom: 10px;
//     box-shadow: 0 2px 0 0 blue inset;
// }

// ion-tabs ion-tab-bar {
//     --border: pink;
//     //--color: grey;
// }
ion-img {
  max-width: 32px;
}
.topButton {
  font-size: 34px;
  margin-left: 5%;
}

.topToolbar ion-toolbar {
  --min-height: 1% !important;
  //--background: red;
}

.topToolbar ion-toolbar ion-buttons ion-button p {
  border-style: solid;
  border-width: 1px;
  padding: 4px;
}

.tab-selected {
  --background: #004030; // Or whatever you want to set it to.
  //--background: rgba(0, 0, 255, 0.815);
}

.cartTab ion-toolbar {
  --background: red;
  margin-bottom: 3px;
  text-align: center;
}

.driverToolbar ion-toolbar {
  --background: red;
  // margin-bottom: 70%;
  text-align: center;
}
ion-icon {
  font-size: 26px; //Preferred size here
}

.topButton {
  font-size: 24px;
  margin-left: 5%;
}

ion-badge {
  font-size: 15px;
}

.styleRed ion-icon {
  color: red !important;
}

.styleRed ion-icon {
  color: white !important;
}
