<ion-header>
  <ion-toolbar>
    <ion-title>{{headerTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!checkoutStep">
  <ion-card *ngFor="let selectedItem of selectedMenuItems;let itemIndex = index">
    <ion-card-header>
      <ion-card-title>
        {{ selectedItem.quantity }} x {{selectedItem.categoryName}}/{{ selectedItem.name }}
      </ion-card-title>
      <ion-card-subtitle>
        Total Price: {{ selectedItem.totalPrice }}$CA
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngIf="selectedItem.options !== undefined" >
      
      <div *ngIf="selectedItem.options && selectedItem.options.length > 0">
        <h2>{{ selectedItem.price }}$CA</h2>

        <div *ngFor="let option of selectedItem.options ">
          <h2>{{option.name}}:</h2>
          <div *ngFor="let topping of option.toppings">
            <div *ngIf="topping.selected === true"> 
              
            <ion-note  
            *ngIf="topping.price > 0"
              slot="end" >{{ topping.name}} - {{ topping.price}}$CA
            </ion-note>
            <ion-note  
            *ngIf="topping.price === 0"
              slot="end" >{{ topping.name}} - Free
            </ion-note>

          </div> 
          </div>
        </div>

      </div>
      <ion-button color="dark" horizontal="start" fill="outline" (click)="onEditSelectedItem(itemIndex)">Edit</ion-button>
      <ion-button color="dark" horizontal="end" fill="outline" (click)="onRemoveSelectedItem(itemIndex)" >Remove</ion-button>
     
    </ion-card-content>
  </ion-card>

  
    <ion-item>
      
      SubTotal: 
      <ion-note slot="end" >{{subTotal}}$CA</ion-note>
    </ion-item>
    <ion-button expand="block" fill="solid" (click)="onCheckoutStep()">Checkout</ion-button>
  </div>







  <div *ngIf="checkoutStep">
    <div *ngIf="seeSubTotalDetails">
      <ion-item 
      *ngFor="let selectedItem of selectedMenuItems;let itemIndex = index"     
      >
        {{ selectedItem.quantity }} x {{selectedItem.categoryName}}/{{ selectedItem.name }} (includes options)
        <ion-note slot="end" >{{selectedItem.totalPrice}}$CA</ion-note>
      </ion-item>
    </div>

    <ion-item>
      <div *ngIf="!seeSubTotalDetails" (click)="onSeeSubTotalDetails()">SubTotal: (See details)</div>
      <div *ngIf="seeSubTotalDetails" (click)="onSeeSubTotalDetails()">SubTotal: (Hide details)</div>
      <ion-note slot="end" >{{subTotal}}$CA</ion-note>
    </ion-item>


    <ion-segment (ionChange)="onChangeCollectingMethod($event)" value="DELIVERY" [(ngModel)]="this.currentUser.collectionMethod">
      <ion-segment-button value="DELIVERY">
        <ion-label>Delivery</ion-label>
      </ion-segment-button>
      <ion-segment-button value="PICKUP">
        <ion-label>Pick-up</ion-label>
      </ion-segment-button>
    </ion-segment>

    
    <div class="delivery" 
    *ngIf="currentUser.collectionMethod === 'DELIVERY'"
    >
  <ion-item (click)="openSearchAddressModal()">
    <ion-label 
    [ngClass]="{'addressEmpty':(currentUser.collectionMethod === 'DELIVERY')}"
    *ngIf="currentUser.deliveryAddress === '' ">Search your Address</ion-label>
    <ion-label *ngIf="currentUser.deliveryAddress !== '' ">{{currentUser.deliveryAddress}}</ion-label>
    <ion-buttons slot="end">
    <ion-button >
      <ion-icon name="search"  ></ion-icon>
   </ion-button>
  </ion-buttons>
  
  </ion-item>
  </div>
  <div *ngIf="currentUser.collectionMethod === 'PICKUP'"
  class="delivery"
  >
    <ion-item (click)= "onOpenMap()">
      <ion-label >Find {{ restaurant.name}} Restaurant</ion-label>
      <ion-buttons slot="end">
        <ion-button >
          <ion-icon name="navigate-circle-outline"  ></ion-icon>
       </ion-button>
      </ion-buttons>
   
    </ion-item>
  </div>

    <ion-item>
      Tips:
        <div *ngIf="tipsList.length > 0">
          <ion-chip  
            *ngFor="let tip of tipsList"
            (click)="onAddTips(tip)" 
            
            [ngClass]="{'selectedChip':(tip.selected === true), 'chip': (tip.selected === false)}"
          >
          <ion-label> {{tip.intValue}}% </ion-label>
          </ion-chip>
     
        </div>
      </ion-item> 
        <ion-item *ngIf="selectedTips">
              <ion-label>Tips Amount</ion-label>
                                    
              <ion-note  
                    
                slot="end" >{{ selectedTips.amount }}$CA
              </ion-note>
        </ion-item>

    <ion-item *ngFor="let tax of taxList ">
      
      
       
        <ion-label>Tax {{tax.value}}({{tax.floatValue}}%)</ion-label>
                     
          <ion-note  
          *ngIf="tax.floatValue > 0"
            slot="end" >{{ tax.amount }}$CA
          </ion-note>

    </ion-item>

    <ion-item>
      <div *ngIf="!selectedPaymentMethod" class="paymentKO"> Payment Method </div>
      <div *ngIf="selectedPaymentMethod" > Payment Method </div>
      <ion-select 
      [(ngModel)]="selectedPaymentMethod"  
      name="payment"
      value="payment"
      (ionChange)="onSelectPaymentMethod(selectedPaymentMethod)"
      placeholder="Payment Method"
      interface="action-sheet"
      >
    <div *ngFor="let payment of paymentMethodList" >
      <ion-select-option  [value]="payment" *ngIf="payment.field1 === currentUser.collectionMethod">
        {{payment.value}}
      </ion-select-option>
    </div>
      </ion-select>
     
    </ion-item>

  
    <div class="bigPrice">
      <ion-item>
      Total 
        <ion-note slot="end" >{{ grandTotal }}$CA</ion-note>
      </ion-item>
    </div>
    <ion-button expand="block" fill="solid" (click)="onCheckoutStep()">Back to Shopping Cart</ion-button>
    
    <ion-button *ngIf="selectedPaymentMethod && !(currentUser.collectionMethod === 'DELIVERY' && currentUser.deliveryAddress==='')" 
    expand="block" fill="solid" (click)="onCheckout()">Confirm Order</ion-button>
    </div>

</ion-content>
