
// .categorySlides {
//     --bullet-background:black;
//     --bullet-background-active: darkred;
//     background-color: green;
//  }
.homeToolbar p {
  border-style: solid;
  border-width: 1px;
  padding: 4px;
}

.collectingMethodSegment {
margin: 15px;
}

.collectingMethodSegment ion-segment ion-segment-button{
  --color-checked: white;
  --border-color:black;
  --background-checked: var(--ion-color-primary);
  --background: black;
  --color-checked: black;
  --color:white;


}

.collectingMethodSegment ion-segment {
  
  --background: black;
  --color-checked: darkgreen;
  --color: black;

}


 .catSlides ion-card {
  position: relative;
  text-align: center;
  width: 100px !important;
  height: 100px !important;
  margin: 0 !important;
  //border-style: solid;
  //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
  
 }


 .catSlides ion-card img {
    height: 100%;
    // filter: contrast(120%);
    // filter: brightness(80%);
 }

 .delivery ion-item{
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: left;
  --background: none;
  border-style: solid;
  //color: darkgreen;
  color: var(--ion-color-primary);
  border-radius: 5px;
  //--border-radius: 10px;
  border-color: var(--ion-color-primary);
}

.itemsList ion-item{
  box-shadow: none;
  width: 100%;
  text-align: left;
}

.itemsList ion-list{
  box-shadow: none;
  width: 100%;
  text-align: left;
}

.bigCard ion-card ion-card-header  {
  font-size:16px;
}

.bigCard ion-card  {
 //padding:none;
 text-align: left;
}

.bigCard ion-item {
  text-align: left;
  color: green;
}
    
ion-card {
  position: relative;
  text-align: center;

}

    
    .card-title {
      position: absolute;
      top: 60%;
      font-size: 1.2em;
      width: 100%;
      font-weight: bold;
      color: white;
    }

    ion-item{
        color: black;
       text-align: center;
       //font-weight: bold;
       //background-color: white;
       // --background:black;
       // --background: rgb(224, 219, 219);
       --background: white;
       margin-top: 2%;
       margin-bottom: 2%;
       margin-left:8%;
       margin-right:8%;
       //  padding-top: 5px;
       //  padding-bottom: 5px;
       //--border-color: purple !important;
       --min-height: 35px;
       border-color: grey;
       --border-radius: 1px;
       // --border-style: 10px;
       //border-style: solid solid double double;
       //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       
     }

