<ion-header>
  <div class="homeToolbar">
    <ion-toolbar>
      Home
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <!-- <div class="collectingMethodSegment">
    <ion-segment
      (ionChange)="onChangeCollectingMethod($event)"
      value="this.currentUser.collectionMethod"
      [(ngModel)]="this.currentUser.collectionMethod"
    >
      <ion-segment-button value="DELIVERY">
        <ion-label>Delivery</ion-label>
      </ion-segment-button>
      <ion-segment-button value="PICKUP">
        <ion-label>Pick-up</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div> -->
  <app-top-segment
    [user]="this.currentUser"
    [restaurant]="this.restaurant"
    (onChangeCollectingMethod)="onChangeCollectingMethod($event)"
    (onOpenSearchAddress)="openSearchAddressModal()"
    (onOpenMapHandler)="onOpenMap()"
  >
  </app-top-segment>

  <div *ngIf="menuByCategories.length > 0" class="catSlides">
    <ion-slides [options]="slideOpts" #categorySlide class="categorySlide">
      <ion-slide *ngFor="let menuCategory of menuByCategories">
        <div (click)="scrollTo(menuCategory._id)" class="global-pointer">
          <ion-card>
            <img src="{{menuCategory.imageUrl}}" />
            <div class="card-title">{{ menuCategory.name}}</div>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div *ngIf="menuByCategories.length > 0">
    <div *ngFor="let menuCategory of menuByCategories">
      <app-menu-card
        [menuCategory]="menuCategory"
        (onSelectItemHandle)="onSelectItem($event)"
      >
      </app-menu-card>
      <!-- <div class="bigCard">
        <ion-card>
          <img
            id="{{menuCategory._id}}"
            src="{{menuCategory.imageUrl}}"
            alt="ion"
          />

          <ion-card-header>
            <ion-card-title>{{ menuCategory.name}}</ion-card-title>
            <ion-card-subtitle>{{ menuCategory.description}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div *ngIf="menuCategory.menuItems.length > 0">
              <div class="itemsList">              
                <ion-item
                  class="global-pointer"
                  lines="full"
                  *ngFor="let menuItem of menuCategory.menuItems"
                  (click)="onSelectItem(menuItem._id)"
                >
                  <p>{{ menuItem.name}}</p>
                  <ion-note slot="end">{{ menuItem.price}}$CA</ion-note>
                </ion-item>               
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div> -->
    </div>
  </div>

  <!-- <div *ngIf="menuByCategories.length > 0">
  <div *ngFor="let menuCategory of menuByCategories">
    <h1>{{menuCategory.value}} ({{menuCategory.menuItems.length}})</h1>
   
      <div *ngIf="menuCategory.menuItems.length > 0">
      <ion-card *ngFor="let menuItem of menuCategory.menuItems">
        <ion-card-header>
          <ion-card-title>{{ menuItem.name}}</ion-card-title>
          <ion-card-subtitle>{{ menuItem.price}}$CA</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
    
        <div *ngIf="menuItem.toppings.length > 0">
          <h1>Options</h1>
          <div *ngFor="let topping of menuItem.toppings">
            <p>{{topping.name}}</p>
            <p>{{topping.price}</p>
          </div>
        </div>
    
        </ion-card-content>
      </ion-card>
      
    </div>
  </div>
</div> -->
</ion-content>
